.root {
  -fx-font-size: 10.0pt;
  -fx-font-family: "Meiryo";
}

.list-view .list-cell:filled:hover,
.table-view .table-cell:filled:hover {
  -fx-background-color: -fx-cell-focus-inner-border, -fx-selection-bar  ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-background: -fx-selection-bar ;
}

.titled-pane .title {
  -fx-font-weight: bold;
}
